:root {
  --primaryBackground: #363636;
  --secondaryBackground: #696969;
  --darkText: #3c3c3c;
  --lightText: #fff;
  --tealText: #0ed6ee;
}
.primaryBackground {
  background-color: var(--primaryBackground);
}
.secondaryBackground {
  background-color: var(--secondaryBackground);
}
.darkText {
  color: var(--darkText);
}
.lightText {
  color: var(--lightText);
}
.tealText {
  color: var(--tealText);
}

* {
  box-sizing: border-box;
}

/* elements */
html,
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
a {
  /* color: var(--lightText); */
  text-decoration: none;
}
body {
  color: var(--lightText);
  padding: 0;
  font-family: sans-serif;
}
button {
  background-color: var(--darkText);
  border: 2px white solid;
  border-radius: 1px;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
}
fieldset {
  border: none;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 3px;
  padding: 0;
}
form {
  margin-top: 16px;
}
h1 {
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 0;
}
h2 {
  font-size: 36px;
  margin: 20px 0;
  text-align: center;
}
h3 {
  font-size: 28px;
}
img {
  width: 100%;
}
input {
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  padding: 10px 16px;
  width: 100%;
}
label {
  display: block;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
}
ul {
  padding: 0;
}

/* CLASSES */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 10px;
  width: 100%;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.noMargin {
  margin: 0;
}
.textCenter {
  text-align: center;
}

/* CONTACT ICONS */
i {
  font-size: 40px;
  padding: 16px;
  transform: scale(1);
  transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms;
}
i:hover {
  color: var(--tealText);
  transform: scale(1.25);
}

@media screen and (min-width: 800px) {
  /* CLASSES */
  .container {
    padding: 50px 0;
    max-width: 1000px;
  }
}
