/* \/\/\/ NAVIGATION BAR* \/\/\/ */
nav {
  background-color: var(--primaryBackground);
  font-size: 20px;
  height: 60px;
  position: fixed;
  margin-top: 0;
  width: 100%;
  z-index: 1;
}

nav a {
  align-self: center;
}
nav a:hover {
  color: var(--tealText);
}
nav p {
  display: inline-block;
  font-size: 20px;
  padding: 16px;
  margin: 0;
}

.navbar-toggle i {
  background-color: var(--primaryBackground);
  border-radius: 50%;
  color: var(--dark);
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  position: fixed;
  right: 15px;
  bottom: 45px;
}

.main-nav {
  background-color: var(--primaryBackground);
  display: none;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  margin: 0;
  position: fixed;
  left: 45px;
  right: 45px;
  bottom: 80px;
}
.main-nav li {
  font-weight: 500;
  padding: 8px 0;
  text-align: center;
}
.nav-links {
  text-decoration: none;
  color: rgba(var(--darkText), 0.7);
}
.main-nav li .active-link {
  color: var(--tealText);
}

@media screen and (min-width: 800px) {
  nav {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    height: 60px;
  }
  nav ul {
    align-items: center;
  }
  .main-nav {
    bottom: 0;
    left: auto;
    right: 16px;
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    padding: 0;
  }
  .main-nav li {
    padding: 16px;
  }
  .main-nav li a {
    padding: 0;
  }
  .navbar-toggle {
    display: none;
  }
}
